[ghq]
	root = ~/ghq
[user]
	name = takeshiemoto
	email = private.takeshiemoto@gmail.com
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	autocrlf = input
