[ghq]
	root = ~/ghq
[user]
	name = {{ .name }}
	email = {{ .email }}
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	autocrlf = input
[include]
	path = ~/.gitconfig.local
