#!/usr/bin/env bash
# Brewfile hash: {{ includeTemplate "Brewfile" . | sha256sum }}
set -eu

export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"

if [ -x /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -x /usr/local/bin/brew ]; then
  eval "$(/usr/local/bin/brew shellenv)"
fi

echo "[chezmoi] Running brew bundle..."
brew bundle --no-upgrade --file="{{ .chezmoi.homeDir }}/.config/homebrew/Brewfile"
